
config.py
AutoCreateMotivationalQuotes/backgrounds/

.venv/
venv/

# Python cache
__pycache__/
*.pyc

ffmpeg/

*.mp4
*.wav
*.srt
*.mov
*.mkv
*.avi

*.log
*.tmp
.DS_Store
.vscode/

_ffstage/
Genshin Emotes/
AutoCreateContentForWeb/__pycache__/
AutoCreateMotivationalQuotes/__pycache__/
AutoSocialMediaPost/__pycache__/